.clock {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setters {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

button {
  margin: 20px;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #219447;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

h4 {
  font-size: 30px;
  margin-top: 20px;
}

span {
  font-size: 24px;
}

.display {
  text-align: center;
  margin-top: 20px;
}

.break:hover,.session:hover {
color: #219447;
}